div.player {
    /* border: 1px solid beige; */
    background-color: #3d0938;
    margin-bottom: 60px;
    max-width: 750px;
    margin: auto;
    margin-top: 40px;
  }
  div.player:after {
    content: "";
    display: table;
    clear: both;
  }
  div.player img.album-art {
    width: 245px;
    height: 245px;
    float: left;
  }
  
  /*
    Small only
  */
  @media screen and (max-width: 39.9375em) {
    div.player img.album-art {
      width: 100%;
      height: auto;
    }
  }
  /*
    Medium only
  */
  /*
    Large Only
  */
  div.meta-container {
    float: left;
    width: calc(100% - 245px);
    padding: 10px;
  }
  div.meta-container div.song-title {
    text-align: center;
    color: beige;
    font-size: 30px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
  div.meta-container div.song-artist {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #877998;
    margin-top: 10px;
  }
  div.meta-container div.time-container {
    font-family: Helvetica;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
  }
  div.meta-container div.time-container:after {
    content: "";
    display: table;
    clear: both;
  }
  div.meta-container div.time-container div.current-time {
    float: left;
    color: whitesmoke;
  }
  div.meta-container div.time-container div.duration {
    float: right;
    color: whitesmoke;
  }
  
  /*
    Small only
  */
  @media screen and (max-width: 39.9375em) {
    div.meta-container {
      width: 100%;
    }
  }
  /*
    Medium only
  */
  /*
    Large Only
  */
  div.control-container {
    text-align: center;
    margin-top: 40px;
  }
  div.control-container div.amplitude-prev {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url("~@/assets/splayer/previous.svg");
    display: inline-block;
    vertical-align: middle;
  }
  div.control-container div.amplitude-play-pause {
    width: 40px;
    height: 44px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("~@/assets/splayer/play.svg");
  }
  div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("~@/assets/splayer/pause.svg");
  }
  div.control-container div.amplitude-next {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url("~@/assets/splayer/next.svg");
    display: inline-block;
    vertical-align: middle;
  }
  
  /*
    Small only
  */
  @media screen and (max-width: 39.9375em) {
    div.control-container div.amplitude-prev {
      margin-right: 75px;
    }
    div.control-container div.amplitude-next {
      margin-left: 75px;
    }
  }
  /*
    Medium only
  */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div.control-container div.amplitude-prev {
      margin-right: 40px;
    }
    div.control-container div.amplitude-next {
      margin-left: 40px;
    }
  }
  /*
    Large Only
  */
  @media screen and (min-width: 64em) {
    div.control-container div.amplitude-prev {
      margin-right: 75px;
    }
    div.control-container div.amplitude-next {
      margin-left: 75px;
    }
  }
  progress.amplitude-song-played-progress:not([value]) {
    background-color: #313252;
  }
  
  progress.amplitude-song-played-progress {
    background-color: #d7dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    height: 8px;
    border: none;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: #d7dee3;
    border-radius: 3px;
  }
  
  progress[value]::-moz-progress-bar {
    background-color: #00a0ff;
    border-radius: 3px;
  }
  
  progress[value]::-webkit-progress-value {
    background-color: #00a0ff;
    border-radius: 3px;
  }