<template>
  <v-container fluid>
    <v-layout column wrap>
      <v-flex pa-2 ma-4 xs12 sm4>
        <p class="display-1">Add New Album</p>
        <form>
          <v-text-field
            v-model="name"
            v-validate="'required|max:200'"
            :counter="200"
            :error-messages="errors.collect('name')"
            label="Name"
            data-vv-name="name"
            required
          ></v-text-field>
          <v-flex v-show="hasName" ma-0 pa-0>
            <p>Upload Album Cover</p>
            <v-img
              :src="imageUrl"
              v-show="hasImage"
              :width="300"
              :height="300"
            ></v-img>
            <v-btn color="info" @click="$refs.coverUpload.click()">{{
              uploadText
            }}</v-btn>
            <input
              v-show="false"
              ref="coverUpload"
              type="file"
              @change="uploadAlbumCover"
            />
          </v-flex>
          <v-text-field
            v-model="artist"
            v-validate="'required'"
            :error-messages="errors.collect('artist')"
            label="Artist"
            data-vv-name="artist"
            required
          ></v-text-field>
          <p>Description</p>
          <v-textarea
            solo
            name="description"
            label="Write a short description for the album..."
            :value="description"
            v-validate="'required|max:1000'"
            :error-messages="errors.collect('description')"
            data-vv-name="description"
            :counter="1000"
          ></v-textarea>
          <p>Credits</p>
          <v-textarea
            solo
            name="credits"
            label="Give credits where owed..."
            :value="credits"
            v-validate="'max:400'"
            :error-messages="errors.collect('credits')"
            data-vv-name="credits"
            :counter="400"
          ></v-textarea>
          <p>Release Date</p>
          <v-date-picker
            v-model="releaseDate"
            :landscape="true"
            :reactive="true"
            v-validate="'required'"
            :error-messages="errors.collect('releaseDate')"
            data-vv-name="releaseDate"
          ></v-date-picker>
          <!-- <br> -->
          <v-container fluid pa-2 mt-4 xs12 sm4>
            <v-btn @click.prevent="submit">Submit</v-btn>
            <v-btn @click="cancel">Cancel</v-btn>
          </v-container>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from "firebase";

export default {
  name: "AddAlbumForm",
  data() {
    return {
      name: "",
      releaseDate: new Date().toISOString().substr(0, 10),
      coverLink: "",
      artist: "Violet Turtle",
      description: "",
      credits: "",
      imageName: "",
      imageUrl: "",
      imageFile: ""
    };
  },
  computed: {
    hasName() {
      return this.name == "" ? false : true;
    },
    hasImage() {
      return this.imageUrl == "" ? false : true;
    },
    uploadText() {
      return this.hasImage ? "Change Image" : "Upload Image";
    }
  },
  methods: {
    submit() {
      this.$Progress.start();
      this.$validator
        .validateAll()
        .then(res => {
          var payload = {
            name: this.name,
            date: this.releaseDate,
            artist: this.artist,
            description: this.description,
            credits: this.credits
          };
          if (this.hasImage) {
            payload.cover = this.imageUrl;
          }
          if (res && this.hasName) {
            firebase
              .database()
              .ref("Albums/")
              .push()
              .set(payload)
              .then(() => {
                this.$Progress.finish();
                this.$toasted.show("Saved to Albums!");
                this.$router.replace("/albums");
              });
          } else {
            this.$toasted.show("Complete the form dumbass!");
            this.$Progress.finish();
          }
        })
        .catch(() => {
          this.$toasted.show("Complete the form dumbass!");
          this.$Progress.finish();
        });
    },
    cancel() {
      this.$router.replace("/home");
    },
    uploadAlbumCover(evt) {
      const files = evt.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0]; // this is an image file that can be sent to server...
          //   firebase
          //     .storage()
          //     .ref("AlbumCovers/" + this.name)
          //     .put(this.imageFile)
          //     .then(snapshot => {
          //       this.$toasted.show("Uploaded album cover!");
          //       console.log("Upload Snapshot", snapshot.val());
          //     });
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    }
  }
};
</script>
