<template>
  <v-container fluid grid-list-lg>
    <v-layout row wrap>
      <v-flex pa-2 mb-4 xs12 sm4 text-xs-center>
        <AlbumCard />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AlbumCard from "@/components/AlbumCard";
import firebase from "firebase";

export default {
  data() {
    return {
      iconsource: require("@/assets/violet_turtle_logo.png"),
      albums: []
    };
  },
  components: {
    AlbumCard
  },
  mounted() {
    firebase
      .database()
      .ref("Albums/")
      .on("value", snapshot => {
        this.albums = Object.values(snapshot.val());
        console.log(this.albums);
      });
  },
  computed: {
    imageHeight() {
      return (
        window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight
      );
    }
  }
};
</script>
