<template>
  <div>
    <StickyHeader />
    <BreadCrumb content="Our Music" />
    <Tracks />
    <BigFlatFoot />
    <SiteFooter />
  </div>
</template>

<script>
import StickyHeader from "@/components/front/StickyHeader";
import BreadCrumb from "@/components/front/BreadCrumb";
import Tracks from "@/components/front/Tracks";
import BigFlatFoot from "@/components/front/BigFlatFoot";
import SiteFooter from "@/components/front/SiteFooter";

export default {
  name: "Discography",
  components: {
    StickyHeader,
    BreadCrumb,
    Tracks,
    BigFlatFoot,
    SiteFooter
  },
  data() {
    return {};
  },
  methods: {
    loadFoundation() {
      var link = document.createElement("link");
      link.id = "foundation";
      link.rel = "stylesheet";
      link.href =
        "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.min.css";
      document.head.appendChild(link);
    },
    unloadFoundation() {
      var oldLink = document.getElementById("foundation");
      if (oldLink) {
        document.head.removeChild(oldLink);
      }
    }
  },
  created() {
    this.loadFoundation();
  },
  destroyed() {
    this.unloadFoundation();
  },
  mounted() {
    $(window).scrollTop(0);
    var browserWindow = $(window);

    $("[data-delay]").each(function() {
      var anim_del = $(this).data("delay");
      $(this).css("animation-delay", anim_del);
    });

    $("[data-duration]").each(function() {
      var anim_dur = $(this).data("duration");
      $(this).css("animation-duration", anim_dur);
    });

    browserWindow.scrollUp({
      scrollSpeed: 1500,
      scrollText: '<i class="fa fa-angle-up"></i>'
    });

    $(".counter").counterUp({
      delay: 10,
      time: 2000
    });

    $(".musica-main-menu").sticky({
      topSpacing: 0
    });

    $("#circle").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });
    $("#circle2").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });
    $("#circle3").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });
    $("#circle4").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });

    $("audio").audioPlayer();
    $('[data-toggle="tooltip"]').tooltip();
    $(".album-all-songs").niceScroll({
      background: "#fff"
    });
    $("#scrollDown").on("click", function() {
      $("html, body").animate(
        {
          scrollTop: $("#about").offset().top - 85
        },
        1500
      );
    });

    //  prevent default a click
    $('a[href="#"]').on("click", function($) {
      $.preventDefault();
    });

    // wow Active Code
    if (browserWindow.width() > 767) {
      new WOW().init();
    }
  }
};
</script>
