<template>
  <div>
    <!-- <SitePreloader /> -->
    <StickyHeader />
    <BigCarousal />
    <BandBio />
    <!-- <FeaturedAlbum /> -->
    <Amplayer />
    <UpcomingShows />
    <Videos />
    <DualCards />
    <SiteFooter />
  </div>
</template>

<style scoped>
/* @import url(); */
</style>

<script>
// import SitePreloader from "@/components/front/SitePreloader";
import StickyHeader from "@/components/front/StickyHeader";
import BigCarousal from "@/components/front/BigCarousal";
import BandBio from "@/components/front/BandBio";
import UpcomingShows from "@/components/front/UpcomingShows";
import Videos from "@/components/front/Videos";
// import FeaturedAlbum from "@/components/front/FeaturedAlbum";
import Amplayer from "@/components/front/Amplayer";
import DualCards from "@/components/front/DualCards";
import SiteFooter from "@/components/front/SiteFooter";

export default {
  name: "Front",
  components: {
    // SitePreloader,
    StickyHeader,
    BigCarousal,
    BandBio,
    UpcomingShows,
    Videos,
    // FeaturedAlbum,
    Amplayer,
    DualCards,
    SiteFooter
  },
  data() {
    return {};
  },
  methods: {
    loadFoundation() {
      var link = document.createElement("link");
      link.id = "foundation";
      link.rel = "stylesheet";
      link.href =
        "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.min.css";
      document.head.appendChild(link);
    },
    unloadFoundation() {
      var oldLink = document.getElementById("foundation");
      if (oldLink) {
        document.head.removeChild(oldLink);
      }
    }
  },
  created() {
    this.loadFoundation();
  },
  destroyed() {
    this.unloadFoundation();
  },
  mounted() {
    $(window).scrollTop(0);
    var browserWindow = $(window);

    $("[data-delay]").each(function() {
      var anim_del = $(this).data("delay");
      $(this).css("animation-delay", anim_del);
    });

    $("[data-duration]").each(function() {
      var anim_dur = $(this).data("duration");
      $(this).css("animation-duration", anim_dur);
    });

    browserWindow.scrollUp({
      scrollSpeed: 1500,
      scrollText: '<i class="fa fa-angle-up"></i>'
    });

    $(".counter").counterUp({
      delay: 10,
      time: 2000
    });

    $(".musica-main-menu").sticky({
      topSpacing: 0
    });

    $("#circle").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });
    $("#circle2").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });
    $("#circle3").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });
    $("#circle4").circleProgress({
      size: 160,
      emptyFill: "rgba(0, 0, 0, .0)",
      fill: "#cc1573",
      thickness: "4",
      reverse: true
    });

    // $("audio").audioPlayer();
    $('[data-toggle="tooltip"]').tooltip();
    $(".album-all-songs").niceScroll({
      background: "#fff"
    });
    $("#scrollDown").on("click", function() {
      $("html, body").animate(
        {
          scrollTop: $("#about").offset().top - 85
        },
        1500
      );
    });

    //  prevent default a click
    $('a[href="#"]').on("click", function($) {
      $.preventDefault();
    });

    // wow Active Code
    if (browserWindow.width() > 767) {
      new WOW().init();
    }
  }
};
</script>
