<template>
  <v-container fluid grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <HomeQuote :bgColor="bodyColor" />
        <!-- <v-spacer></v-spacer> -->
        <!-- <HomeAlbum />
        <HomeAlbum />
        <HomeAlbum /> -->
        <!-- <v-img :src="iconsource" alt="avatar" :height="imageHeight"></v-img> -->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import HomeQuote from "@/components/HomeQuote";
export default {
  data() {
    return {
      bodyColor: "#e3d0f0",
      iconsource: require("@/assets/violet_turtle_logo.png")
    };
  },
  components: {
    HomeQuote
  },
  computed: {
    imageHeight() {
      return (
        window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight
      );
    }
  }
};
</script>
