<template>
  <div class="login">
    <!-- <h2 class="text-muted display-1">Central Box Year Database</h2> -->
    <v-container text-xs-center>
      <v-layout column wrap>
        <v-flex xs12 sm4 text-xs-center>
          <p>
            <span><h4 class="lead">Sign In with Google</h4></span>
            <br />
            <button class="google-button" @click="loginWithGoogle">
              <img alt="Google Logo" src="../assets/google-icon.png" />
            </button>
          </p>
          <v-avatar :tile="tile" size="300px">
            <img src="../assets/violet_turtle_logo.png" alt="avatar" />
          </v-avatar>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "Login",
  data() {
    return {
      tile: false
    };
  },
  beforeCreate() {
    if (firebase.auth().currentUser) {
      console.log("Have User", firebase.auth().currentUser);
      this.$router.replace("home");
    } else {
      console.log("No user");
    }
  },
  methods: {
    loginWithGoogle: function() {
      const provider = new firebase.auth.GoogleAuthProvider();
      this.$Progress.start();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          console.log(result.email);
          this.$Progress.finish();
          this.checkWhiteListAndRedirect();
        })
        .catch(err => {
          this.$Progress.finish();
          alert("Oops! " + err.message);
        });
    },
    replaceDotWithSafeContext(str, search, replace) {
      if (replace === undefined) {
        return str.toString();
      }
      return str.replace(new RegExp("[" + search + "]", "g"), replace);
    },
    checkWhiteListAndRedirect() {
      var authMail = firebase.auth().currentUser.email;
      var tokenizedMail = authMail
        ? this.replaceDotWithSafeContext(authMail, ".", "%2E")
        : "";
      console.log("Mail : " + tokenizedMail);
      if (tokenizedMail != "") {
        firebase
          .database()
          .ref("whitelist/" + tokenizedMail)
          .on("value", snapshot => {
            var canAccess =
              snapshot.val() == false || snapshot.val() == undefined
                ? false
                : true;
            if (canAccess) {
              this.$router.push("home");
            } else {
              this.deleteUserAndPushError();
            }
          });
      }
    },
    deleteUserAndPushError() {
      firebase
        .auth()
        .currentUser.delete()
        .then(() => {
          this.$router.push("oops");
        })
        .catch(function(error) {
          alert("Oops! " + error);
        });
    }
  }
};
</script>

<style scoped>
.google-button {
  width: 75px;
  background: white;
  padding: 2px;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
}

.google-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.google-button img {
  width: 100%;
}

p {
  margin-top: 40px;
  font-size: 20px;
  align-self: center;
}
</style>
