<template>
  <div class="grid-x player-bg" id="blue-playlist-container">
    <div
      class="large-10 medium-12 small-11 large-centered medium-centered small-centered cell"
      id="amplitude-player"
    >
      <div class="grid-x">
        <div class="large-6 medium-6 small-12 cell" id="amplitude-left">
          <img data-amplitude-song-info="cover_art_url" />
          <div id="player-left-bottom">
            <div id="time-container">
              <span class="current-time">
                <span class="amplitude-current-minutes"></span>:<span
                  class="amplitude-current-seconds"
                ></span>
              </span>
              <div id="progress-container">
                <input type="range" class="amplitude-song-slider" />
                <progress
                  id="song-played-progress"
                  class="amplitude-song-played-progress"
                ></progress>
                <progress
                  id="song-buffered-progress"
                  class="amplitude-buffered-progress"
                  value="0"
                ></progress>
              </div>
              <span class="duration">
                <span class="amplitude-duration-minutes"></span>:<span
                  class="amplitude-duration-seconds"
                ></span>
              </span>
            </div>

            <div id="control-container">
              <div id="repeat-container">
                <div class="amplitude-repeat" id="repeat"></div>
                <div
                  class="amplitude-shuffle amplitude-shuffle-off"
                  id="shuffle"
                ></div>
              </div>

              <div id="central-control-container">
                <div id="central-controls">
                  <div class="amplitude-prev" id="previous"></div>
                  <div class="amplitude-play-pause" id="play-pause"></div>
                  <div class="amplitude-next" id="next"></div>
                </div>
              </div>

              <div id="volume-container">
                <div class="volume-controls">
                  <div class="amplitude-mute amplitude-not-muted"></div>
                  <input type="range" class="amplitude-volume-slider" />
                  <div class="ms-range-fix"></div>
                </div>
                <div
                  class="amplitude-shuffle amplitude-shuffle-off"
                  id="shuffle-right"
                ></div>
              </div>
            </div>

            <div id="meta-container">
              <span data-amplitude-song-info="name" class="song-name"></span>

              <div class="song-artist-album">
                <span data-amplitude-song-info="artist"></span>
                <span data-amplitude-song-info="album"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="large-6 medium-6 small-12 cell" id="amplitude-right">
          <div
            class="song amplitude-song-container amplitude-play-pause"
            v-for="(track, index) in tracks"
            :key="index"
            :data-amplitude-song-index="index"
          >
            <div class="song-now-playing-icon-container">
              <div class="play-button-container"></div>
              <progressive-img class="now-playing" :src="track.cover_art_url" />
            </div>
            <div class="song-meta-data">
              <span class="song-title">{{ track.name }}</span>
              <span class="song-artist">{{ track.artist }}</span>
            </div>
            <a :href="track.bcLink" class="bandcamp-link" target="_blank">
              <img
                class="bandcamp-grey"
                src="~@/assets/amplayer/bandcamp-grey.svg"
              />
              <img
                class="bandcamp-white"
                src="~@/assets/amplayer/bandcamp-white.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
@import url(~@/assets/css/amplayer.css);
</style>

<script>
import Amplitude from "amplitudejs";
import firebase from "firebase";

export default {
  name: "Amplayer",
  data() {
    return {
      album: {},
      tracks: []
    };
  },
  mounted() {
    firebase
      .database()
      .ref("Tracks/")
      .on("value", snapshot => {
        this.tracks = snapshot.val();
      });
    firebase
      .database()
      .ref("Albums/")
      .on("value", snapshot => {
        snapshot.forEach(child => {
          if (child.val().featured === true) {
            this.album = child.val();
            this.tracks = this.filterTracks(this.tracks);
          }
        });
      });
  },
  updated() {
    this.initFunctions();
    this.startAmplayer(this.tracks);
  },
  methods: {
    filterTracks(tracks) {
      var temp = [];
      for (const track of tracks) {
        if (track.album == this.album.name) {
          temp.push(track);
        }
      }
      return temp;
    },
    initFunctions() {
      $(document).foundation();
      this.adjustPlayerHeights();
      $(window).on("resize", () => {
        this.adjustPlayerHeights();
      });
      $(".bandcamp-link").on("click", function(e) {
        e.stopPropagation();
      });
      jQuery(".song").on("mouseover", function() {
        jQuery(this).css("background-color", "#877998");
        jQuery(this)
          .find(".song-meta-data .song-title")
          .css("color", "#FFFFFF");
        jQuery(this)
          .find(".song-meta-data .song-artist")
          .css("color", "#FFFFFF");

        // if (!jQuery(this).hasClass("amplitude-active-song-container")) {
        //   jQuery(this)
        //     .find(".play-button-container")
        //     .css("display", "block");
        // }

        jQuery(this)
          .find("img.bandcamp-grey")
          .css("display", "none");
        jQuery(this)
          .find("img.bandcamp-white")
          .css("display", "block");
        jQuery(this)
          .find(".song-duration")
          .css("color", "#FFFFFF");
      });
      jQuery(".song").on("mouseout", function() {
        jQuery(this).css("background-color", "transparent");
        jQuery(this)
          .find(".song-meta-data .song-title")
          .css("color", "beige");
        jQuery(this)
          .find(".song-meta-data .song-artist")
          .css("color", "whitesmoke");
        jQuery(this)
          .find(".play-button-container")
          .css("display", "none");
        jQuery(this)
          .find("img.bandcamp-grey")
          .css("display", "block");
        jQuery(this)
          .find("img.bandcamp-white")
          .css("display", "none");
        jQuery(this)
          .find(".song-duration")
          .css("color", "#607D8B");
      });
      jQuery(".song").on("click", function() {
        jQuery(this)
          .find(".play-button-container")
          .css("display", "none");
      });
    },
    adjustPlayerHeights() {
      if (Foundation.MediaQuery.atLeast("medium")) {
        var left = $("div#amplitude-left").width();
        var bottom = $("div#player-left-bottom").outerHeight();
        $("#amplitude-right").css("height", left + bottom + "px");
      } else {
        $("#amplitude-right").css("height", "initial");
      }
    },
    startAmplayer(tracks) {
      // console.log("Starting AMPLAYER", tracks);
      Amplitude.init({
        songs: tracks
      });
    }
  }
};
</script>
