<template>
  <div class="about-us-area section-padding-100-0 bg-img bg-overlay" id="about">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h2>{{ bio.header }}</h2>
            <h6>
              {{ bio.subheader }}
            </h6>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- About Thumbnail -->
        <div class="col-12 col-lg-6">
          <div class="about-thumbnail mb-100">
            <progressive-img :src="bio.bioImageLink" />
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-lg-6">
          <div class="about-content mb-100">
            <h4>{{ bio.title }}</h4>
            <p>
              {{ bio.text }}
            </p>
            <progressive-img :src="bio.signLink" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "BandBio",
  data() {
    return {
      bio: {
        bioImageLink: "",
        header: "",
        signLink: "",
        subheader: "",
        text: "",
        title: ""
      }
    };
  },
  created() {
    firebase
      .database()
      .ref("front/BandBio/")
      .on("value", snapshot => {
        this.bio = snapshot.val();
        // console.log("Bio Data :", this.bio);
      });
  }
};
</script>
