<template>
  <section class="hero-area">
    <div class="hero-slides owl-carousel">
      <!-- Single Hero Slide -->
      <div
        v-for="entry in data"
        :key="entry.title"
        class="single-hero-slide d-flex align-items-center justify-content-center"
      >
        <progressive-background
          class="slide-img bg-img"
          :src="entry.imageLink"
          alt=""
        />
        <div class="hero-slides-content text-center">
          <h2 data-animation="fadeInUp" data-delay="100ms">
            {{ entry.title }} <span>{{ entry.title }}</span>
          </h2>
          <p data-animation="fadeInUp" data-delay="300ms">
            {{ entry.subtitle }}
          </p>
        </div>
        <h2 class="big-text">{{ entry.title }}</h2>
      </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>

    <!-- Slide Down -->
    <div class="slide-down" id="scrollDown">
      <h6>Slide Down</h6>
      <div class="line"></div>
    </div>
  </section>
</template>

<script>
import firebase from "firebase";
export default {
  name: "BigCarousal",
  data() {
    return {
      data: []
    };
  },
  mounted() {
    firebase
      .database()
      .ref("front/BigCarousal/")
      .on("value", snapshot => {
        // console.log("Carousal data: ", snapshot.val());
        this.data = snapshot.val();
      });
  },
  updated() {
    this.fireCarousal();
  },
  methods: {
    fireCarousal() {
      var welcomeSlide = $(".hero-slides");
      welcomeSlide.owlCarousel({
        items: 1,
        margin: 0,
        loop: true,
        nav: false,
        dots: false,
        autoplay: true,
        autoplayTimeout: 7000,
        smartSpeed: 1000,
        animateIn: "fadeIn",
        animateOut: "fadeOut"
      });
      welcomeSlide.on("translate.owl.carousel", function() {
        var slideLayer = $("[data-animation]");
        slideLayer.each(function() {
          var anim_name = $(this).data("animation");
          $(this)
            .removeClass("animated " + anim_name)
            .css("opacity", "0");
        });
      });
      welcomeSlide.on("translated.owl.carousel", function() {
        var slideLayer = welcomeSlide
          .find(".owl-item.active")
          .find("[data-animation]");
        slideLayer.each(function() {
          var anim_name = $(this).data("animation");
          $(this)
            .addClass("animated " + anim_name)
            .css("opacity", "1");
        });
      });
    }
  }
};
</script>
