<template>
  <div>
    <div class="bg-gradients"></div>
    <div
      class="musica-cta-area section-padding-200 bg-img"
      :style="{ backgroundImage: 'url(' + this.coverLink + ')' }"
    >
      <!-- <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="cta-content d-flex justify-content-between align-items-center"
          >
            <div class="cta-text">
              <h4></h4>
              <h2></h2>
              <h6></h6>
            </div>
            <div class="cta-btn">
              <a href="#" class="btn musica-btn">contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "BigFlatFoot",
  data() {
    return {
      coverLink: "",
      bcLink: ""
    };
  },
  mounted() {
    firebase
      .database()
      .ref("BigFootBC/")
      .on("value", snapshot => {
        this.coverLink = snapshot.val().bgLink;
        this.bcLink = snapshot.val().bcLink;
      });
  }
};
</script>
