<template>
  <div
    class="musica-cta-area section-padding-100 bg-img bg-overlay2"
    style="background-image: url(img/bg-img/bg-8.jpg);"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-content">
            <div class="cta-text">
              <span>Unique Way to discover</span>
              <h2>Violet Turtle</h2>
              <h4>Be a patron!!</h4>
            </div>
            <div class="cta-btn mt-30">
              <a href="#" class="btn musica-btn">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BigFoot"
};
</script>
