<template>
  <div>
    <div
      class="breadcrumb-area bg-img bg-overlay2"
      :style="{ backgroundImage: 'url(' + bigImage + ')' }"
    >
      <div class="breadcrumbContent">
        <h2>{{ content }}</h2>
      </div>
    </div>
    <div class="bg-gradients"></div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "BreadCrumb",
  props: {
    content: {}
    //#724C6F
  },
  data() {
    return {
      bigImage: ""
    };
  },
  mounted() {
    firebase
      .database()
      .ref("front/BreadCrumb")
      .on("value", snapshot => {
        var bread = snapshot.val();
        this.bigImage = bread.bigImage;
      });
  }
};
</script>
