<template>
  <section class="contact-area mt-30 section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="contact-content mb-100">
            <a href="#"
              ><img class="brand-icon" :src="contact.iconLink" alt=""
            /></a>
            <!-- Contact Social Info -->
            <div class="contact-social-info mt-50">
              <a
                :href="links.youtube"
                data-toggle="tooltip"
                data-placement="top"
                title="Behance"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
              <a
                :href="links.instagram"
                data-toggle="tooltip"
                data-placement="top"
                title="Pinterest"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
              <a
                :href="links.facebook"
                data-toggle="tooltip"
                data-placement="top"
                title="Facebook"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
              <a
                :href="links.soundcloud"
                data-toggle="tooltip"
                data-placement="top"
                title="Twitter"
                ><i class="fa fa-soundcloud" aria-hidden="true"></i
              ></a>
              <a
                :href="links.bandcamp"
                data-toggle="tooltip"
                data-placement="top"
                title="Dribbble"
                ><i class="fa fa-bandcamp" aria-hidden="true"></i
              ></a>
            </div>

            <p class="mb-30">
              {{ contact.text }}
            </p>

            <!-- Single Contact Info -->
            <div class="single-contact-info d-flex align-items-center">
              <div class="icon">
                <img src="img/core-img/placeholder.png" alt="" />
              </div>
              <h6>{{ contact.address }}</h6>
            </div>

            <!-- Single Contact Info -->
            <div class="single-contact-info d-flex align-items-center">
              <div class="icon">
                <img src="img/core-img/message.png" alt="" />
              </div>
              <h6>{{ contact.email }}</h6>
            </div>

            <!-- Single Contact Info -->
            <div class="single-contact-info d-flex align-items-center">
              <div class="icon">
                <img src="img/core-img/smartphone.png" alt="" />
              </div>
              <h6>{{ contact.phone }}</h6>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="contact-content mb-100">
            <!-- Contact Form Area -->
            <div class="contact-form-area">
              <div class="form-group">
                <input
                  v-model="feedback.name"
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                />
              </div>
              <div class="form-group">
                <input
                  v-model="feedback.email"
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Your E-mail"
                />
              </div>
              <div class="form-group">
                <input
                  v-model="feedback.subject"
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Subject"
                />
              </div>
              <div class="form-group">
                <textarea
                  v-model="feedback.message"
                  name="message"
                  class="form-control"
                  id="message"
                  cols="30"
                  rows="10"
                  placeholder="Message"
                ></textarea>
              </div>
              <button @click="submitFeedback()" class="btn musica-btn mt-30">
                send
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
.brand-icon {
  width: 20%;
}

p {
  color: #212121;
}
</style>

<script>
import firebase from "firebase";

export default {
  name: "ContactForm",
  props: {
    contact: {}
  },
  data() {
    return {
      feedback: {
        name: "",
        email: "",
        subject: "",
        message: ""
      }
    };
  },
  computed: {
    links() {
      return this.contact.socials ? this.contact.socials : [];
    },
    noFeedback() {
      return (
        this.feedback.name == "" ||
        this.feedback.email == "" ||
        this.feedback.subject == "" ||
        this.feedback.message == ""
      );
    }
  },
  methods: {
    submitFeedback() {
      if (this.noFeedback) {
        this.$toasted.error("Fill up the form to send a feedback");
        return;
      }
      firebase
        .database()
        .ref("Feedbacks/")
        .push()
        .set(this.feedback)
        .then(() => {
          this.$toasted.success("Feedback Received!");
          this.$toasted.info("Thanks for your feedback! Keep'em coming!");
        });
    }
  }
};
</script>
