<template>
  <div class="musica-music-artists-area d-flex flex-wrap clearfix">
    <!-- Music Search -->
    <div
      class="music-search bg-img bg-overlay2 wow fadeInUp"
      data-wow-delay="300ms"
      :style="{ backgroundImage: 'url(' + firstCard.imgLink + ')' }"
      @click="redirectSoundcloud()"
    >
      <!-- Content -->
      <div class="music-search-content">
        <h2>{{ firstCard.title }}</h2>
        <h4>{{ firstCard.subtitle }}</h4>
      </div>
    </div>

    <!-- Artists Search -->
    <div
      class="artists-search bg-img bg-overlay2 wow fadeInUp"
      data-wow-delay="600ms"
      :style="{ backgroundImage: 'url(' + secondCard.imgLink + ')' }"
      @click="redirectAbout()"
    >
      <!-- Content -->
      <div class="music-search-content">
        <h2>{{ secondCard.title }}</h2>
        <h4>{{ secondCard.subtitle }}</h4>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "DualCards",
  data() {
    return {
      firstCard: {},
      secondCard: {}
    };
  },
  created() {
    firebase
      .database()
      .ref("front/DualCards")
      .on("value", snapshot => {
        let cardData = snapshot.val();
        // console.log("Card Data", cardData);
        this.firstCard = cardData.FirstCard;
        this.secondCard = cardData.SecondCard;
      });
  },
  methods: {
    redirectAbout() {
      this.$router.push("/about");
    },
    redirectSoundcloud() {
      this.$router.push("/gallery");
    }
  }
};
</script>
