<template>
  <div class="featured-album-area section-padding-100 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="featured-album-content d-flex flex-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "FeaturedAlbum",
  data() {
    return {
      album: {}
    };
  },
  created() {
    firebase
      .database()
      .ref("Albums/")
      .on("value", snapshot => {
        snapshot.forEach(child => {
          if (child.val().featured === true) {
            this.album = child.val();
          }
        });
      });
  },
  updated() {
    // $("audio").audioPlayer();
  },
  methods: {}
};
</script>
