<template>
  <div class="featured-shows-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading dark">
            <h2>{{ gallery.header }}</h2>
            <h6>{{ gallery.subheader }}</h6>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="card" v-for="photo in photos" :key="photo.url">
          <img v-img :src="photo.url" :alt="photo.caption" />
          <span>{{ photo.caption }}</span>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-12">
          <div class="featured-shows-slides owl-carousel">
            <div class="single-featured-shows">
              <img src="img/bg-img/fs1.jpg" alt="" />
              <div class="featured-shows-content">
                <div class="shows-text">
                  <h4>Grand Hall Miami</h4>
                  <p>January 23</p>
                  <a href="#" class="buy-tickets-btn">Buy Tickets</a>
                </div>
                <div class="bg-gradients"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<style scoped>
.card {
  background: #3c0c37;
  display: inline-block;
  padding: 4px;
  margin: 0 0 1em;
  width: 100%;
  cursor: pointer;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  transition: all 100ms ease-in-out;
}
.card:hover {
  transform: translateY(-0.5em);
  background: rgb(156, 147, 185);
}
.card img {
  display: block;
  width: 100%;
}
.card span {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgb(156, 147, 185);
  color: #3c0c37;
  font-size: 11pt;
  font-weight: 600;
}
.card:hover span {
  display: block;
}
.cards {
  margin: 0em 0 0 0;
  column-count: 1;
  column-gap: 1em;
}
@media only screen and (min-width: 500px) {
  .cards {
    column-count: 2;
  }
}
@media only screen and (min-width: 700px) {
  .cards {
    column-count: 2;
  }
}
@media only screen and (min-width: 900px) {
  .cards {
    column-count: 3;
  }
}
@media only screen and (min-width: 1100px) {
  .cards {
    column-count: 4;
  }
}
</style>

<script>
import firebase from "firebase";
export default {
  name: "GalleryPhotos",
  data() {
    return {
      gallery: {}
    };
  },
  computed: {
    photos() {
      return this.gallery.photos ? this.gallery.photos : [];
    }
  },
  mounted() {
    // this.initGalleryCarousal();
    firebase
      .database()
      .ref("Gallery/")
      .on("value", snapshot => {
        this.gallery = snapshot.val();
      });
  },
  methods: {
    initGalleryCarousal() {
      var featured_shows = $(".featured-shows-slides");

      featured_shows.owlCarousel({
        items: 3,
        margin: 30,
        loop: true,
        nav: true,
        navText: [
          '<i class="fa fa-angle-left"></i>',
          '<i class="fa fa-angle-right"></i>'
        ],
        dots: false,
        autoplay: true,
        autoplayTimeout: 5000,
        smartSpeed: 600,
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 2
          },
          992: {
            items: 3
          }
        }
      });
    }
  }
};
</script>
