<template>
  <div class="map-area mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <iframe
            :src="mapsrc"
            width="600"
            height="450"
            frameborder="0"
            style="border:0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  props: {
    mapsrc: {}
  }
};
</script>
