<template>
  <footer class="footer-area section-padding-100-0">
    <div class="container-fluid">
      <div class="row box-parent">
        <!-- Footer Widget Area -->
        <div class="col-12 col-md-6 col-xl-3">
          <div class="footer-widget-area mb-100">
            <a href="/home"
              ><progressive-img :src="iconLink" alt="" class="brand-img"
            /></a>
            <p class="copywrite-text">
              &copy; All Rights Reserved <br />
              made <br />
              with <i class="fa fa-heart-o" aria-hidden="true"></i> <br />
              by
              <a href="https://www.linkedin.com/in/mohaiminul-islam-46270b101/"
                >Mohaiminul Islam</a
              >
            </p>
          </div>
        </div>

        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-4 col-xl-2">
          <div class="footer-widget-area mb-100">
            <div class="widget-title text-center">
              <h4>Our band</h4>
            </div>
            <nav>
              <ul class="footer-nav">
                <li><a href="/about">Bio</a></li>
                <li><a href="/discography">Our Music</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/gallery">Gallery</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-4 col-xl-2">
          <div class="footer-widget-area mb-100">
            <div class="widget-title text-center">
              <h4>Social Link</h4>
            </div>
            <nav>
              <ul class="footer-nav">
                <li><a :href="socials.facebook">Facebook</a></li>
                <li><a :href="socials.youtube">Youtube</a></li>
                <li><a :href="socials.soundcloud">Soundcloud</a></li>
                <li><a :href="socials.bandcamp">Bandcamp</a></li>
                <li><a :href="socials.instagram">Instagram</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Footer Widget Area -->
        <div class="col-12 col-md-6 col-xl-3">
          <div class="footer-widget-area mb-100">
            <div class="widget-title">
              <h4>Appreciate our music?</h4>
            </div>
            <div class="subscribe-form">
              <input
                type="email"
                name="subscribe-email"
                id="subscribeemail"
                :placeholder="clapsCount"
                disabled
              />
              <button @click="clapped()" name="clap">Clap</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<style scoped>
.box-parent {
  display: flex;
  justify-content: space-around;
}
.brand-img {
  width: 30%;
  border-radius: 10%;
}
</style>

<script>
import firebase from "firebase";
export default {
  name: "SiteFooter",
  data() {
    return {
      socials: {},
      iconLink: "",
      clapsCount: 0
    };
  },
  mounted() {
    firebase
      .database()
      .ref("Contact")
      .on("value", snapshot => {
        this.socials = snapshot.val().socials;
        this.iconLink = snapshot.val().iconLink;
      });
    firebase
      .database()
      .ref("Claps")
      .on("value", snapshot => {
        this.clapsCount = snapshot.val().count;
      });
  },
  methods: {
    clapped() {
      firebase
        .database()
        .ref("Claps")
        .set({
          count: this.clapsCount + 1
        })
        .then(() => {
          this.$toasted.success("Clapped!");
        });
    }
  }
};
</script>
