<template>
  <header class="header-area">
    <!-- Navbar Area -->
    <div class="musica-main-menu text-center">
      <div class="classy-nav-container center breakpoint-off">
        <div class="container-fluid">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="musicaNav">
            <!-- Nav brand -->
            <a href="#" class="nav-brand"
              ><img src="@/assets/violet_turtle_logo.png" alt="band logo"
            /></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"
                ><span></span><span></span><span></span
              ></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">
              <!-- close btn -->
              <div class="classycloseIcon">
                <div class="cross-wrap">
                  <span class="top"></span><span class="bottom"></span>
                </div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/discography">Our Music</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>

                <!-- Social Button -->
                <div class="top-social-info">
                  <a href="#"
                    ><i class="fa fa-youtube" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-bandcamp" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-soundcloud" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "StickyHeader",
  mounted() {
    $("#musicaNav").classyNav();
  }
};
</script>
