<template>
  <section id="quests">
    <div class="career-timeline-area section-padding-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading">
              <h2>{{ timeline.header }}</h2>
              <h6>{{ timeline.subheader }}</h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <!-- Single Timeline Area -->
            <div
              class="single-timeline-area d-flex"
              v-for="quest in quests"
              :key="quest.date"
            >
              <!-- Timeline Date -->
              <div class="timeline-date">
                <h2>
                  {{ getDayFrom(quest.date) }}
                  <span
                    >{{ getMonthFrom(quest.date) }}
                    {{ getYearFrom(quest.date) }}</span
                  >
                </h2>
              </div>
              <!-- Timeline Content -->
              <div class="timeline-content">
                <h5>{{ quest.heading }}</h5>
                <p>
                  {{ quest.text }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
                <div class="col-12">
                    <div class="timeline-btn text-center mt-100">
                        <a href="#" class="btn musica-btn">Load More</a>
                    </div>
                </div>
            </div> -->
      </div>

      <!-- Side Thumbs -->
      <div class="first-img">
        <img src="img/bg-img/man.png" alt="" />
      </div>
      <div class="second-img">
        <img src="img/bg-img/microphone.png" alt="" />
      </div>
    </div>
  </section>
</template>

<script>
import firebase from "firebase";
export default {
  name: "TimeLine",
  data() {
    return {
      timeline: {}
    };
  },
  computed: {
    quests() {
      return this.timeline.quests ? this.timeline.quests : [];
    }
  },
  mounted() {
    firebase
      .database()
      .ref("Timeline/")
      .on("value", snapshot => {
        this.timeline = snapshot.val();
      });
  },
  methods: {
    getDayFrom(date) {
      var temp = new Date(date);
      let day = temp.getDate();
      return day;
    },
    getMonthFrom(date) {
      var temp = new Date(date);
      let month = temp.toLocaleString("en-us", { month: "long" });
      return month;
    },
    getYearFrom(date) {
      var temp = new Date(date);
      let year = temp.getFullYear();
      return year;
    }
  }
};
</script>
