<template>
  <div class="custom-bg">
    <div class="grid-x grid-padding-x">
      <div class="large-12 medium-12 small-12 cell">
        <div
          class="player mb-3"
          v-for="(track, index) in tracks"
          :key="track.url"
        >
          <img :src="track.cover_art_url" class="album-art" />
          <div class="meta-container">
            <div class="song-title">{{ track.name }}</div>
            <div class="song-artist">{{ track.artist }}</div>

            <div class="time-container">
              <div class="current-time">
                <span
                  class="amplitude-current-minutes"
                  :data-amplitude-song-index="index"
                ></span
                >:<span
                  class="amplitude-current-seconds"
                  :data-amplitude-song-index="index"
                ></span>
              </div>

              <div class="duration">
                <span
                  class="amplitude-duration-minutes"
                  :data-amplitude-song-index="index"
                ></span
                >:<span
                  class="amplitude-duration-seconds"
                  :data-amplitude-song-index="index"
                ></span>
              </div>
            </div>
            <progress
              class="amplitude-song-played-progress"
              :data-amplitude-song-index="index"
              id="song-played-progress-1"
            ></progress>
            <div class="control-container">
              <div class="amplitude-prev"></div>
              <div
                class="amplitude-play-pause"
                :data-amplitude-song-index="index"
              ></div>
              <div class="amplitude-next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
@import url(~@/assets/css/splayer.css);
</style>

<script>
import Amplitude from "amplitudejs";
import firebase from "firebase";

export default {
  name: "Tracks",
  data() {
    return {
      tracks: []
    };
  },
  mounted() {
    firebase
      .database()
      .ref("Tracks/")
      .on("value", snapshot => {
        this.tracks = snapshot.val();
      });
  },
  updated() {
    this.startPlayerWith(this.tracks);
  },
  methods: {
    startPlayerWith(tracks) {
      console.log("Starting splay", tracks);
      Amplitude.init({
        songs: tracks
      });
      this.initPlayers();
    },
    initPlayers() {
      document
        .getElementById("song-played-progress-1")
        .addEventListener("click", function(e) {
          if (Amplitude.getActiveIndex() == 0) {
            var offset = this.getBoundingClientRect();
            var x = e.pageX - offset.left;

            Amplitude.setSongPlayedPercentage(
              (parseFloat(x) / parseFloat(this.offsetWidth)) * 100
            );
          }
        });

      document
        .getElementById("song-played-progress-2")
        .addEventListener("click", function(e) {
          if (Amplitude.getActiveIndex() == 1) {
            var offset = this.getBoundingClientRect();
            var x = e.pageX - offset.left;

            Amplitude.setSongPlayedPercentage(
              (parseFloat(x) / parseFloat(this.offsetWidth)) * 100
            );
          }
        });
    }
  }
};
</script>
