<template>
  <div class="upcoming-shows-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h2>{{ shows.header }}</h2>
            <h6>
              {{ shows.subheader }}
            </h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!-- Upcoming Shows Content -->
          <div class="upcoming-shows-content">
            <!-- Single Upcoming Shows -->
            <div
              v-for="data in shows.schedules"
              :key="data.date"
              class="single-upcoming-shows d-flex align-items-center flex-wrap"
            >
              <div class="shows-date">
                <h2>
                  {{ getDayFrom(data.date)
                  }}<span
                    >{{ getMonthFrom(data.date) }}
                    {{ getYearFrom(data.date) }}</span
                  >
                </h2>
              </div>
              <div class="shows-desc d-flex align-items-center">
                <div class="shows-img">
                  <progressive-img :src="data.image" alt="" />
                </div>
                <div class="shows-name">
                  <h6>{{ data.name }}</h6>
                  <p>{{ data.address }}</p>
                </div>
              </div>
              <div class="shows-location">
                <p>{{ data.venue }}</p>
              </div>
              <div class="shows-time">
                <p>{{ data.time }}</p>
              </div>
              <div class="buy-tickets">
                <a :href="data.eventLink" target="_blank" class="btn musica-btn"
                  >Go to Event</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "UpcomingShows",
  data() {
    return {
      shows: {
        header: "",
        subheader: "",
        schedules: []
      }
    };
  },
  created() {
    firebase
      .database()
      .ref("front/Shows/")
      .on("value", snapshot => {
        this.shows = snapshot.val();
        // console.log("Upcoming Shows data: ", this.shows);
      });
  },
  methods: {
    getDayFrom(date) {
      var temp = new Date(date);
      let day = temp.getDate();
      return day;
    },
    getMonthFrom(date) {
      var temp = new Date(date);
      let month = temp.toLocaleString("en-us", { month: "long" });
      return month;
    },
    getYearFrom(date) {
      var temp = new Date(date);
      let year = temp.getFullYear();
      return year;
    }
  }
};
</script>
