<template>
  <section id="videos">
    <div class="music-player-area section-padding-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="section-heading">
              <h2>Live Turtles</h2>
              <h6>
                Video Archive
              </h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="music-player-slides owl-carousel">
              <!-- Video Content -->
              <div
                class="single-music-player"
                v-for="video in videos"
                :key="video.title"
                @click="redirectTo(video.vidLink)"
              >
                <img :src="video.thumbLink" alt="" />

                <div class="music-info d-flex justify-content-between">
                  <div class="music-text">
                    <h5>{{ video.title }}</h5>
                    <p>{{ video.venue }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import firebase from "firebase";
export default {
  name: "Videos",
  data() {
    return {
      videos: []
    };
  },
  mounted() {
    firebase
      .database()
      .ref("front/Videos")
      .on("value", snapshot => {
        this.videos = snapshot.val();
      });
  },
  updated() {
    this.startVideosCarousal();
  },
  methods: {
    redirectTo(link) {
      var ntab = window.open(link, "_blank");
      ntab.focus();
    },
    startVideosCarousal() {
      var music_player = $(".music-player-slides");
      music_player.owlCarousel({
        items: 3,
        margin: 45,
        loop: true,
        nav: false,
        dots: false,
        autoplay: true,
        autoplayTimeout: 5000,
        smartSpeed: 750,
        responsive: {
          0: {
            items: 1
          },
          992: {
            items: 2
          },
          1200: {
            items: 3
          }
        }
      });
    }
  }
};
</script>
