<template>
  <v-card flat tile>
    <v-container fluid grid-list-lg>
      <v-flex xs12>
        <v-card color="cyan darken-2" class="white--text">
          <v-layout>
            <v-flex xs5>
              <v-img
                src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
                height="125px"
                contain
              ></v-img>
            </v-flex>
            <v-flex xs7>
              <v-card-title primary-title>
                <div>
                  <div class="headline">Unnamed</div>
                  <div>Violet Turtle</div>
                  <div>(2019)</div>
                </div>
              </v-card-title>
            </v-flex>
          </v-layout>
          <v-divider light></v-divider>
          <v-card-actions class="pa-3">
            <v-btn class="white--text" flat>Visit album</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "AlbumCard",
  data() {
    return {};
  }
};
</script>
