<template>
  <v-hover>
    <v-card
      slot-scope="{ hover }"
      :class="`elevation-${hover ? 12 : 2}`"
      class="mx-auto"
      :color="bgColor"
      light
    >
      <v-card-title>
        <v-icon large left>
          format_quote
        </v-icon>
        <span class="title font-weight-bold">Inspire</span>
      </v-card-title>
      <v-card-text class="quote-text font-weight-light">
        {{ quote.text }}
      </v-card-text>
      <v-card-actions>
        <v-list-tile class="grow">
          <v-list-tile-content pa-4>
            <v-list-tile-title
              >by <em>{{ quote.author }}</em></v-list-tile-title
            >
          </v-list-tile-content>
          <v-layout align-center justify-end>
            <p>{{ quote.tags }}</p>
          </v-layout>
        </v-list-tile>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<style scoped>
.quote-text {
  font-family: "Alegreya", serif;
  font-size: 26px;
  color: #1b1616;
}
</style>

<script>
import axios from "axios";

export default {
  name: "HomeQuote",
  data() {
    return {
      quote: {
        author: "Mohaiminul",
        text: "Ja hoyni tar sob i hobe ekhn!",
        category: "Inspire",
        tags: ""
      },
      apiLink: "http://quotes.rest/qod.json"
    };
  },
  mounted() {
    axios.get(this.apiLink).then(response => {
      let quoteObj = response.data.contents.quotes[0];
      // console.log(quoteObj.quote);
      this.quote.author = quoteObj.author == null ? "Unknown" : quoteObj.author;
      this.quote.text = quoteObj.quote;
      this.quote.category = quoteObj.category;
      this.quote.tags = quoteObj.tags.join(", ");
    });
  },
  props: {
    bgColor: {}
  }
};
</script>
