<template>
  <div>
    <v-navigation-drawer v-if="loggedIn" v-model="drawer" fixed clipped app>
      <v-list dense>
        <v-layout row align-center> </v-layout>
        <template v-for="(item, i) in items">
          <v-layout v-if="item.heading" :key="i" row>
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <!-- <v-flex xs6 class="edit-btn text-xs-right">
              <v-btn small flat>open</v-btn>
            </v-flex> -->
          </v-layout>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            dark
            class="my-3"
          ></v-divider>
          <v-list-tile v-else :key="i" @click="clickedTile(i)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="list-text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :color="toolbarColor" app fixed clipped-left>
      <v-toolbar-side-icon
        v-if="loggedIn"
        @click="drawer = !drawer"
      ></v-toolbar-side-icon>
      <v-btn @click="homeRedirection" icon class="hidden-xs-only">
        <v-icon>dashboard</v-icon>
      </v-btn>
      <div class="title-text ml-3 mr-5">
        Violet&nbsp;<span class="font-weight-light">Turtle</span>
      </div>
      <v-text-field
        solo-inverted
        clearable
        flat
        hide-details
        v-if="loggedIn"
        placeholder="Search"
        prepend-inner-icon="search"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="loggedIn">
        <v-avatar v-if="userPhotoUrl" d-flex :tile="userTile">
          <img :src="userPhotoUrl" alt="avatar" class="nav-user-avatar" />
        </v-avatar>

        <v-btn class="greet-text" disabled flat>Hi, {{ userName }}</v-btn>
        <v-spacer></v-spacer>
        <!-- <v-btn flat class="custom-btn">Upload</v-btn> -->
        <v-btn @click="signOut" v-if="loggedIn" flat class="custom-btn"
          >Logout</v-btn
        >
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<style scoped>
.title-text {
  font-family: "Acme", sans-serif; /*'Abril Fatface', cursive;*/
  font-size: 32px;
  color: black;
}

.greet-text {
  font-family: "Acme", sans-serif; /*'Abril Fatface', cursive;*/
  font-size: 22px;
  color: black;
}

.list-text {
  font-family: "Alegreya", serif;
  font-size: 18px;
  color: #1b1616;
}

.v-subheader {
  font-family: "Abril Fatface", cursive;
  font-size: 15px !important;
  margin-left: 10px;
  align-self: left;
}

.custom-btn {
  font-family: "Alegreya", serif;
  font-size: 18px;
  font-weight: 600;
}

.v-navigation-drawer {
  background-color: #e3d0f0 !important;
}

/* .v-navigation-drawer .v-list {
  background-color: #e3d0f0;
} */

.nav-user-avatar {
  vertical-align: middle;
  -ms-flex-align: center;
  width: 50px;
  height: 100%;
}
</style>

<script>
import firebase from "firebase";
export default {
  data() {
    return {
      tile: false,
      userTile: true,
      drawer: null,
      items: [
        { icon: "album", text: "Albums", link: "/albums" },
        { icon: "flash_on", text: "Tracks", link: "#" },
        { divider: true },
        { heading: "Albums" },
        { icon: "perm_media", text: "All albums", link: "/albums" },
        { icon: "tab", text: "Add new album", link: "/albums/create" },
        { divider: true },
        { heading: "Tracks" },
        { icon: "library_music", text: "All tracks", link: "#" },
        { icon: "opacity", text: "Upload new single", link: "#" },
        { divider: true },
        { heading: "Preferences" },
        { icon: "equalizer", text: "Frontpage", link: "/" },
        { icon: "games", text: "Settings", link: "#" },
        { icon: "play_for_work", text: "Logout", action: "signout" }
      ]
    };
  },
  props: {
    loggedIn: {},
    toolbarColor: {}
  },
  computed: {
    userName: function() {
      if (firebase.auth().currentUser) {
        return firebase.auth().currentUser.displayName
          ? firebase.auth().currentUser.displayName
          : firebase.auth().currentUser.email;
      } else {
        return "";
      }
    },
    userPhotoUrl: function() {
      if (firebase.auth().currentUser) {
        return firebase.auth().currentUser.photoURL
          ? firebase.auth().currentUser.photoURL
          : "";
      } else {
        return "";
      }
    }
  },
  methods: {
    clickedTile(index) {
      let link = this.items[index].link;
      if (link == undefined) {
        if (this.items[index].action == "signout") {
          this.signOut();
        }
        return;
      }
      console.log("Found " + link);
      this.$router.replace(link);
    },
    homeRedirection() {
      this.$router.replace("/home");
    },
    signOut: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("login");
        });
    }
  }
};
</script>
