<template>
  <v-app v-if="!isLandingPage">
    <Navigation
      v-if="!isErrorPage"
      :loggedIn="isLoggedIn"
      :toolbarColor="toolbarColor"
    />
    <v-content>
      <router-view />
    </v-content>
    <vue-progress-bar></vue-progress-bar>
  </v-app>
  <router-view v-else />
</template>

<style>
.custom-bg {
  background-color: #887998;
}
</style>

<script>
import firebase from "firebase";
import Navigation from "./components/Navigation";

export default {
  name: "App",
  components: {
    Navigation
  },
  data() {
    return {
      isLoggedIn: false,
      toolbarColor: "#6F4C87"
    };
  },
  computed: {
    isErrorPage: function() {
      return this.$route.matched.some(record => record.meta.errorpage)
        ? true
        : false;
    },
    isLandingPage: function() {
      return this.$route.matched.some(record => record.meta.landingpage)
        ? true
        : false;
    }
  },
  mounted() {
    this.$Progress.finish();
    firebase.auth().onAuthStateChanged(user => {
      this.isLoggedIn = user == null ? false : true;
    });
  },
  created() {
    this.$Progress.start();
    this.$router.beforeEach((to, from, next) => {
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress;
        this.$Progress.parseMeta(meta);
      }
      this.$Progress.start();
      next();
    });
    this.$router.afterEach(() => {
      this.$Progress.finish();
    });
  }
};
</script>
